<button mat-button [matMenuTriggerFor]="menugeneral">Menú</button>

<mat-menu #menugeneral="matMenu">
    <button mat-menu-item  routerLink="/home">Inicio</button>
  <button mat-menu-item [matMenuTriggerFor]="canciones">Canciones</button>
  <button mat-menu-item [matMenuTriggerFor]="usuarios">Usuario</button>
  <button mat-menu-item [matMenuTriggerFor]="general">General</button>
</mat-menu>

<mat-menu #canciones="matMenu">
  <button mat-menu-item  routerLink="/CrearCancion">Crear canción</button>
  <button mat-menu-item  routerLink="/ConsultarCanciones">Lista de canciones</button>
</mat-menu>
<mat-menu #usuarios="matMenu">
  <button mat-menu-item  routerLink="/info-perfil">Información perfil</button>
</mat-menu>
<mat-menu #general="matMenu">
    <button mat-menu-item  routerLink="/form-registro">Registrar usuario</button>
    <button mat-menu-item  routerLink="/login">Login</button>
    <button mat-menu-item  routerLink="/cuenta-administrador">Cuenta Administrador</button>
  </mat-menu>
  <div class="container text-center">
      <notificacion></notificacion>
    
  </div>
<router-outlet></router-outlet>

<footer></footer>